*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 500px;
    margin-top: 70px;
    background: linear-gradient(to left, rgb(97, 97, 134), rgb(70, 156, 130), rgb(61, 155, 128),rgb(90, 90, 158));
    background-size: cover;
    height: 100%;


}
#container{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    background: norepeat-linear-gradient(rgb(181, 184, 192), rgb(221, 55, 133));
    width: 900px;
    background-color: rgba(255,255,255,0.02);
    box-shadow:  0px 8px 20px 0 rgba(32, 32, 34, 0.9);

 
}
#inputs{
    padding: 5px;
    margin: 5px;
}
#inputs input{
    padding: 10px;
    margin: 10px;
    width: 250px;
    outline: none;
}
#buttons button{
    display: block;
    width: 180px;
    padding: 15px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 10px;

}
button:hover{
    background-color: rgb(182, 178, 178);
}
